<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyFirstDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogAndReg</servlet-name>
    <servlet-class>servlet.LogAndReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogAndReg</servlet-name>
    <url-pattern>/servlet/LogAndReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Imform</servlet-name>
    <servlet-class>servlet.Imform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imform</servlet-name>
    <url-pattern>/servlet/Imform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeaAndPur</servlet-name>
    <servlet-class>servlet.LeaAndPur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaAndPur</servlet-name>
    <url-pattern>/servlet/LeaAndPur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>servlet.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/servlet/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Order</servlet-name>
    <servlet-class>servlet.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/servlet/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Product</servlet-name>
    <servlet-class>servlet.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/servlet/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>News</servlet-name>
    <servlet-class>servlet.News</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/servlet/News</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/servlet/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Text</servlet-name>
    <servlet-class>servlet.Text</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Text</servlet-name>
    <url-pattern>/servlet/Text</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/filter_html/*</url-pattern>
  </filter-mapping>
</web-app>